*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 50,5%;
    max-width: 100vw;
    
}
body{
    background-color:hsl(229, 67%, 5%) ;
    color: white;
    font-family: sans-serif;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header-box{
     padding: 1rem;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*buttons*/
#btn-login{
    width: 8rem;
    font-size: 1.3rem;
    color: white;
    background: linear-gradient(  black , rgba(36, 34, 34, 0.759)
    );
   border: 1px solid white;
   height: 3.5rem;
   text-transform: uppercase;
   color: white;
   
}
#btn-login:hover{
    background-color: white;
}
.border-raidius{
    border-radius: 0.3rem;
}

#btn-plan {
    background-color: #7828ff;
    color: white;
    width: 30rem;
    height: 3.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 0.3rem;
}
#btn-plan:hover{
    background-color: #621fd6;
}
.bnt-assine{
    background-color: hsl(262, 100%, 58%);
    border: none;
    color: white;
    padding: 0.5rem;
    height: 3.5rem;
    width: 295px;
    border-radius: 0.2rem;
    font-size: 1.2rem;
}
.bnt-assine:hover{
    background-color: hsl(262, 79%, 46%);
}
@media (max-width:425px){
    #btn-plan {
        background-color: #7828ff;
        color: white;
        width: 20rem;
        height: 3.5rem;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 0.3rem;
    }
}
@media (max-width:320px){
    #btn-plan {
        background-color: #7828ff;
        color: white;
        width: 18rem;
        height: 3.5rem;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 0.3rem;
    }
}

/*header*/
#logo{
    width:  6rem;
    height: 3rem;
   
}
.txt-apr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    line-height: 6rem;
    border-radius: 0.7rem;
    position: absolute;
    top: 13rem;
    left: 3rem;
}
.txt-apr h3{
    font-size: 1.5rem;
}

.background-header{
    background: url(images/background/background-lg.png) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    width: 100vw;
  
}
@media (max-width: 1024px) {
    .txt-apr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        line-height: 6rem;
        border-radius: 0.7rem;
        position: absolute;
        top: 32rem;
        left: 13rem;
    }
    .all-plans {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        height: auto;
    }
    
    
}
@media (max-width:1468px){
    .background-header{
        background: url(images/background/background-1300.png)
        no-repeat center center/cover; 
        width: 100vw;
    }
}
@media (max-width: 768px){
    .background-header {
        background: url(images/background/background-md.jfif) no-repeat top center/cover;
        width: 100%;
    }
 }

@media (max-width: 768px){ 
    .txt-apr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        line-height: 6rem;
        border-radius: 0.7rem;
        position: absolute;
        top: 24rem;
        left: 6rem;
    }
   
}
@media (max-width: 425px){ 
    .txt-apr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        line-height: 6rem;
        border-radius: 0.7rem;
        position: absolute;
        top: 19rem;
        left: 4rem;
    }
     .txt-apr h3 {
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .txt-apr img{ 
    width: 200px;
     }
}
@media (max-width: 375px){ 
    .txt-apr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 69vw;
        line-height: 6rem;
        border-radius: 0.7rem;
        position: absolute;
        top: 19rem;
        left: 4rem;
    }
 }
 @media (max-width: 320px){ 
    .txt-apr h3 {
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .bck-popular {
        background-image: url(images/combos/colorido310.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .txt-apr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 61vw;
        line-height: 6rem;
        border-radius: 0.7rem;
        position: absolute;
        top: 19rem;
        left: 4rem;
    }
}

/*area planos*/
.plan-main {
    margin-top: 5rem;
}
.plan-main h3 {
    text-align: center;
    font-size: 3rem;
    margin: 4rem 0;
}
.all-plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
    height: auto;
}
.bck-popular{
 background-image: url(images/combos/colorido.png); 
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}
.plan-box {
    min-width: 22.2%;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plan-box img {
    width: 300px;
    margin-top: 2rem;
}
.plan-box h2 {
    font-size: 1.6rem;
}
.plan-box p {
    font-size: 1.2rem;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.59);
    width: 350px;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
}
#plan-add{
    text-align: center;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.522);
    margin-top: 4rem;
}
.art-plan {
    margin: 2rem 0 0rem 0;
}

@media(max-width:768px){
    .all-plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
        height: auto;
    }
    .plan-box img {
        width: 300px;
        margin-top: 0rem;
    }
}
@media(max-width:425px){
    .plan-main h3 {
        text-align: center;
        font-size: 2rem;
        margin: 4rem 0;
    }
 }
 @media(max-width:320px){
    .plan-box p {
        font-size: 1.2rem;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.59);
        width: 315px;
        margin-top: 0.2rem;
        margin-bottom: 0rem;
    }
     .bnt-assine {
        background-color: hsl(262, 100%, 58%);
        border: none;
        color: white;
        padding: 0.5rem;
        height: 3.5rem;
        width: 280px;
        border-radius: 0.2rem;
        font-size: 1.2rem;
    }
}




.woyw-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100vh;
}
.woyw-article {
    width: 600px;
    font-size: 1.5rem;
}
.woyw-article h1 {
    margin-bottom: 1rem;
}
.woyw-article p {
    color: #ffffff8a;
    font-size: 1.3rem;
    line-height: 1.9rem;
}

@media(max-width:1024px){
    .woyw-box img{
        width: 600px;
    }
    .woyw-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 0 1rem;
        height: 100vh;
    }
    .woyw-article {
        width: 600px;
        text-align:center;
    }

}

@media(max-width:768px){
    .woyw-article p {
        font-size: 1.1rem;
    }
    .woyw-article h2{
        font-size: 2rem;
    }
}
@media(max-width:425px){ 
    .woyw-box img {
        width: 400px;
    }
    .woyw-article {
        width: 338px;
        text-align: center;
    }
    .woyw-article h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
 }
 @media (max-width: 375px){ 
    .woyw-box img {
        width: 350px;
    } 
 }
 @media (max-width: 320px){ 
    .woyw-box img {
         width: 300px;
     }
     .woyw-article {
        width: 290px;
        text-align: center;
    }
}

.originais-movies{
    gap: 1.5rem;
}
.originais-article{
    margin-bottom:1rem;
    line-height: 4rem;
}
.originais-article h2{
    font-size: 2.5rem;

}
.originais-article p {
    font-size: 1.3rem;
    color: #ffffffa3;
}
.originais-box{
    text-align: center;
    padding: 0 1rem;
}
.originais-border img{
    display: block;
    border-radius: 0.2rem;
    width: 500px;
}
@media (max-width: 768px){
    .originais-border img {
        display: block;
        border-radius: 0.2rem;
        width: 400px;
    }
}

@media (max-width: 768px){
    .originais-article h2 {
        font-size: 2rem;
    }
    .originais-article h2 {
     font-size: 2rem;
     line-height: 3rem;
    }
    .originais-article p {
        font-size: 1.1rem;
        color: #ffffffa3;
        width: 90vw;
        line-height: 1.5rem;
    }
 }
 @media (max-width: 375px){ 
    .originais-border img {
        display: block;
        border-radius: 0.2rem;
        width: 350px;
    }
    .originais-article h2 {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .originais-article p {
        font-size: 1.2rem;
        color: #ffffffa3;
        width: 89vw;
        line-height: 1.6rem;
    }
 }

 @media (max-width: 320px){ 
    .originais-border img {
        display: block;
        border-radius: 0.2rem;
        width: 300px;
    }

    .originais-article h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
     .originais-article p {
        font-size: 1.1rem;
        color: #ffffffa3;
        width: 90vw;
        line-height: 1.6rem;
    }
   
}







.lion-king {
    background-image: url(images/rei-leao/leao1600.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
    margin: 0 2rem;
    margin-top: 8rem;
}
.lion-king img{
    position: relative;


}
.lion-article {
    position: absolute;
    width: 500px;
    right: 279px;
    font-size: 1.5rem;
}
.lion-article h2{
    margin-bottom: 1rem;
}
.lion-article p{
    color: rgba(255, 255, 255, 0.502);
    line-height: 2rem;
}
@media (max-width:1024px){
    .lion-king {
        background-image: url(images/rei-leao/lea700.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 100vh;
        margin: 0;
    }

    .lion-article{
        position: absolute;
        width: 411px;
        right: 120px;
        font-size: 1rem;
    }
    .lion-article h2{
        margin-bottom: 1rem;
    }
    .lion-article p{
        color: rgba(255, 255, 255, 0.502);
        line-height: 1.5rem;
    }

    
}
@media (max-width:1024px){
    .lion-king {
        background-image: url(images/rei-leao/reileao-pequena.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 100vh;
        margin: 0;
    }

 }
 @media (max-width:700px){
    .lion-king {
        background-image: url(images/rei-leao/reileao-pequena400.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: 100vh;
        margin: 0;
    }
 }
.dispos-box{
    height: 90vh;
    margin-top: 6rem;
    
}
.dispos-box h1{
    text-align: center;
    font-size: 2.5rem;
}
.dispos-box img {
    width: 400px;
}

.tv-class img{
    width: 400px;
    
}
 .dispos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.2%;
    margin-top: 2rem;
    
}
.dispos ul{
    text-align: center;
    margin-top: 0.5rem;
}

.dispos ul li{
    color: rgba(255, 255, 255, 0.607);
    font-weight: 400;
    line-height: 1.9rem;
    font-size: 1.2rem;
}
@media (max-width:1024px){
    .dispos-box img {
        width: 300px;
    }
    
    .tv-class img{
         width: 300px;

    }
   
}
@media (max-width: 768px){ 
    .dispos-box img {
        width: 200px;
    }
     .dispos-box {
        height: auto;
        margin: 6rem 0;
    }
    .dispos-area{
        display: flex;
        flex-direction: column;
    }
    .dispos-box h1 {
        text-align: center;
        font-size: 2rem;
    }
}
@media (max-width: 425px){
    .dispos h3 {
        text-align: center;
        width: 11rem;
    }
    .dispos ul{
        width: 11rem;
    
    }
}


.qstions-box h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.box-resp{
    display:none;
    background:#13151D ;
    margin-bottom: 1rem; ;
    padding: 1rem 0 1rem 1rem;
    line-height: 1.3rem;
    color: rgba(255, 255, 255, 0.683);
    width: 90vw;
    font-size: 1.1rem;
    transition-delay: 0.5s;
   
}
.box-resp.active{
    display: block;
    transition-delay: 0.5s;
    transition: all 0.5s  linear;
}
.box-resp ul {
  list-style-type: circle;
  padding-left:1rem; 
  line-height: 3rem;
      
}
.bnt-ask {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #13151D;
    color: rgba(255, 255, 255, 0.844);
    border: none;
    border-radius: 0.2rem;
    width: 90vw;
    height: 4rem;
    font-size: 1.3rem;
    padding: 1rem;
    cursor: pointer;
}
.qstions-box {
    width: 100%;
    padding-left: 7rem;
   
}
.ask-box{
    margin-bottom: 1rem;
}
footer {
    margin-top: 9rem;
}
.plus{
    padding-right: 0.5rem;
}
 .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    
}
.bar:nth-child(2) {
    transform: translateY(-7px) rotate(90deg);  
}
.plus.active .bar:nth-child(1){
    display: none;
}
.plus.active .bar:nth-child(2){
    transform: translateY(1px) rotate(180deg);
    transition: all 0.5s ease-in-out;
}
@media (max-width:1440px){
    .qstions-box {
        width: 100%;
        padding-left: 4rem;
        margin: auto;
    }
}
@media (max-width: 768px){ 
    .qstions-box {
        width: 100%;
        padding-left: 2.5rem;
        margin: auto;
     }
     .bnt-ask{
        font-size: 1rem;
     }
     .qstions-box h2{
        font-size: 2rem;
     }
}
@media (max-width: 425px){ 
    .qstions-box {
        width: 100%;
        padding-left: 1.5rem;
        margin: auto;
    }
    .bnt-ask {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #13151D;
        color: rgba(255, 255, 255, 0.844);
        border: none;
        border-radius: 0.2rem;
        width: 90vw;
        height: 4rem;
        font-size: 1rem;
        padding: 0.5rem;
        cursor: pointer;
        text-align: left;
    }
    .btn-ask p{
        width: 86%;
        line-height: 1.5rem;
    
    }
 }
/*FOOTER*/

footer img {
    margin: auto;
    display: flex;
    width: 7rem;
}
.footer-lists {
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.67);
    width: 90vw;
    text-align: center;
    margin: auto;
}
footer{
    text-align: center;
    height: 30vh;
}
.txt-footer {
    line-height: 2rem;
    font-size: 13px;
  
}
.ftr-list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    
}
footer ul li a{
    color: rgba(255, 255, 255, 0.645);
    text-decoration: none;
    font-size: 13px;
}
footer ul li a:hover{
    color: rgba(255, 255, 255, 0.93);
}
@media (max-width:1024px){
    .ftr-list {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .txt-footer {
        line-height: 1.5rem;
        font-size: 13px;
        margin-top: 1rem;
    }
}

@media (max-width:768px){
    .footer-lists {
        line-height: 1rem;
       
    }
    .ftr-list{
        margin: 1rem 0;
    }
    
    footer ul li a{
        margin-left: 0.5rem;
    
    }
}
















































@media (max-width: 1024px){
    .background-header{
        background: url(images/background/background-md.jfif) no-repeat top center/cover;        width: 100vw;
        
        
    }
}
